<html>
<head>
  <title>Users</title>
</head>
<body>

<h1>SHOW (SELECT QUERY)</h1>

<hr>
<h3>Nav</h3>
<p><a href="/users/">Index</a></p>
<p><a href="/users/{{ user['id'] }}/edit/">Edit</a></p>
<form action="/users/{{ user['id'] }}/destroy/" method=post>
  <input type=submit value=Delete>
</form>
<hr>

<p> ID: {{ user['id'] }} </p>
<p> Name: {{ user['name'] }} </p>
<p> Email: {{ user['email'] }} </p>
<p> Created At: {{ user['created_at'] }} </p>
<p> Updated At: {{ user['updated_at'] }} </p>

</body>
</html>