*{
    /* outline: .1px solid red; */
    }

body{
    font-family: Helvetica, sans-serif;
    font-size: 9pt; 
    color: black;
    background-color: lightslategray
}

div{
    padding: 10px 20px;
    height: 50px;
    font-size: 8pt;
}

form{
    width: 350px; margin: auto;
}

#container{
    background-color: silver;
    border: 1px solid black;
    box-shadow: 2px 1px 1px black;
    width: 350px; margin: 100px auto;
    height: 490px;
}

#title{
    font-size: 18pt;
    text-align: center;
    height: 30px;
}

p{
    margin-top: 2px;
    margin-bottom: 0px;
    font-size: 8pt;
    color: #C40000;
}

input{
    margin-top: 2px;
    border: 1px solid black;
    width: 200px;
    padding: 5px;
}

input[type=submit]{
    border: 1px solid black;
    border-radius: 5px;
    width: 70px;
    display: block;
    margin: 10px auto;
}

.submit{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: black;
    font-style: bold;
}