<html>
    <head>
        <title>Registration Form</title>
        <!-- <link rel=stylesheet type=text/css href={{ url_for('static', filename='style.css') }}> -->
        <link rel=stylesheet type=text/css href=../static/style.css>
    </head>
    <body>
        <div id=container>
            <div id=l_first>First Name:</div>
            <div id=first>
                <form action=/result/ method=POST>
                <input type=text name=first>
                </form>
                (Category1)
            </div>
            <div id=l_last>Last Name:</div>
            <div id=last>
                <form action=/result/ method=POST>
                <input type=text name=last>
                </form>
                (Category2)
            </div>
            <div id=l_email>Email:</div>
            <div id=email>
                <form action=/result/ method=POST>
                <input type=text name=email>
                </form>
                (Category3)
            </div>
            <div id=l_password>Password:</div>
            <div id=password>
                <form action=/result/ method=POST>
                <input type="password" name="password">
                </form>
                (Category4)
            </div>
            <div id=l_confirm>Confirm Password:</div>
            <div id=password>
                <form action=/result/ method=POST>
                <input type="password" name="confirm">
                </form>
                (Category5)
            </div>
            <div id=submit>
                
            </div>
        </div>
    </body>
</html>