<html>
        <head>
          <title>Friends</title>
        </head>
        <body>

            <!-- Show info for one friend -->
            <p>ID: {{ one_friend['id'] }}</p>
            <p>Name: {{ one_friend['name'] }}</p>
            <p>Age: {{ one_friend['age'] }}</p>
            <p>Friend Since: {{ one_friend['friend_since'] }}</p>
            <form action='/delete/{{ one_friend['id'] }}/' method='POST'>
              <input type="submit" value="Delete">
            </form>
            <hr>

          <h2>Update Friend Info</h2>
          <form action='/update/{{ one_friend['id'] }}/' method='POST'>
            <label for="name">Name:<input type="text" name="name" id="name"></label>
            <label for="age">Age:<input type="text" name="age" id="age"></label>
            <label for="friend_since">Friend Since:<input type="text" name="friend_since" id="friend_since"></label>
            <input type="submit" value="Add">
          </form>
        </body>
        </html>